.filter {
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: var(--main-box-shadow);
  background-color: var(--accent-color);
  color: var(--primary-color);

  @media (min-width: 768px) {
    position: sticky;
    top: 0;
    z-index: 5;
  }
}

.filter__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: 430px) {
    flex-direction: column;
  }
}

.filter__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 20px;
  line-height: 1;
}

.filter__form {
  display: flex;
  gap: 5px;
  width: 60%;

    @media (max-width: 430px) {
        width: 100%;
      }
}

.filter__input {
  width: 50%;
}
