<footer class="footer">
  <div class="container footer__container">
    <div class="footer__col">
      <img
        class="footer__logo github-logo"
        ngSrc="/assets/images/github.svg"
        width="30"
        height="30"
        alt="angular logo" />
      <p class="footer__text">
        Star on
        <a class="link" href="https://github.com/R2-D1/gradient" target="_blank"
          >github</a
        >
      </p>
    </div>
    <div class="footer__col">
      <p class="footer__text">
        Made with
        <a class="link" href="https://angular.dev/" target="_blank">angular</a>
      </p>
      <img
        class="footer__logo"
        ngSrc="/assets/images/angular.svg"
        width="30"
        height="30"
        alt="angular logo" />
    </div>
  </div>
</footer>
