.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  margin-bottom: 50px;
  font-size: 9.5vw;

  @media (min-width: 1680px) {
    font-size: 160px;
  }
}

.hero__subtitle {
  font-size: 30px;
}
