button {
  cursor: pointer;
}

.button {
  appearance: none;
  border: none;
  overflow: hidden;
  background-color: unset;
  outline: none;
  position: relative;
}

.button__content {
  display: block;
  position: relative;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: 1;
}

.button_icon {
  position: relative;
  color: var(--accent-color);
  font-size: 25px;
  border-radius: 50px;
  padding: 0;

  &:not(&.button_xs) {
    box-shadow: var(--main-box-shadow);
  }

  &.button_xs {
    font-size: 15px;

    .button__content {
      padding: 10px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(
      115deg,
      #00ff42,
      #b9ff00,
      #8000ff,
      #dbff00,
      #00ff42
    );
    background-size: 50% 100%;
    visibility: hidden;
  }

  &:focus {
    outline: none;
  }

  &:not(&.button_success) {
    &:hover,
    &:focus {
      padding: 2px;
      margin: -2px;
      box-shadow: var(--main-box-shadow);

      &::before {
        visibility: unset;
        animation: move 2s linear infinite;
      }
    }
  }

  &:active {
    &:not(&.button_xs) {
      box-shadow: var(--secondary-box-shadow);
      top: 2px;
    }
  }
}

.button_success {
  padding: 0;

  .button__content {
    background-color: var(--success-color);
    color: var(--main-color);
  }
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}
