.input {
  padding: 17px 20px 13px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 40px;
  color: var(--accent-color);
  font-family: var(--accent-font-family);

  &::placeholder {
    color: var(--accent-color);
  }

  @media (max-width: 570px) {
    font-size: 10px;
  }
}
