.dark-theme {
  .switcher__status {
    filter: invert(0);
  }

  .switcher__radio {
    &:checked {
      filter: invert(1);
    }
  }
}

.light-theme {
  .switcher__status {
    filter: invert(1);
  }

  .switcher__radio {
    filter: invert(1);

    &:checked {
      filter: invert(0);
    }
  }

  .github-logo {
    filter: invert(1);
  }
}
