:root {
  --accent-font-family: AKONY, Arial, sans-serif;
  --primary-color: #000;
  --accent-color: #fff;
  --secondary-color: #1a1a1a;
  --main-box-shadow: 0 20px 20px 0 rgb(0 0 0 / 25%);
  --secondary-box-shadow: 0 15px 20px 0 rgb(0 0 0 / 25%);
}
