.full-preview {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.full-preview__header {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.full-preview__name {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 30px 5px;
  color: var(--accent-color);
  font-size: 25px;
  font-family: var(--accent-font-family);
  box-shadow: var(--main-box-shadow);
  border-radius: 40px;
}

.full-preview__controls {
  display: flex;
  gap: 10px;
}

.full-preview__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  padding: 10px 20px 5px;
  font-size: 30px;
  font-family: var(--accent-font-family);
  background-color: var(--primary-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 40px;
  background-image: linear-gradient(90deg, #96f6f8, #cdaffb);
  background-image: linear-gradient(90deg, #ff945f, #f65d61);
  background:linear-gradient(90deg, #9ffbec, #bbfadf);
  /*background-image: linear-gradient(180deg, #9aecfd, #fba7ae);*/
  background-image: linear-gradient(90deg, #0361fa, #5defff);
  background-image: linear-gradient(90deg, #20567d, #beddfa);
  background-image: linear-gradient(90deg, #bababa, #eaf8ff);
  background-image: linear-gradient(180deg, #0084fd, #fad800);
  background-image: linear-gradient(45deg, #FA8BFF, #2BD2FF, #2BFF88);
  background-image: linear-gradient(90deg, #1ba272, #95f6b9);
}
