@import url('./assets/styles/variables.css');
@import url('./assets/styles/buttons.css');
@import url('./assets/styles/global.css');
@import url('./assets/styles/fonts.css');
@import url('./assets/styles/input.css');
@import url('./assets/styles/theme.css');
@import url('./assets/styles/link.css');
@import url('./assets/styles/scroll-down.css');

@keyframes gradientAnimation {
  0% {
    stop-color: blue;
  }
  50% {
    stop-color: green;
  }
  100% {
    stop-color: blue;
  }
}

#grad1 stop {
  animation: gradientAnimation 5s infinite;
}

#grad1 {
  display: none;
}
