.gradient {
  aspect-ratio: 2/1.5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.gradient__info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

.gradient__name {
  width: 100%;
  margin-bottom: 50px;
  padding: 10px 10px 5px;
  font-size: 30px;
  font-family: var(--accent-font-family);
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 25%);
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 50px;
}

.gradient__control {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
}

.gradient__colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.gradient__color {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  gap: 10px;

  .icon {
    margin-right: 10px;
  }
}

.gradient__color-code {
  padding: 2px 20px;
  border-radius: 30px;
  color: var(--accent-color);
  background-color: var(--primary-color);
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 25%);
  font-family: monospace;
  font-size: 16px;
}

.gradient:hover .gradient__info {
  height: auto;
  visibility: unset;
  padding: 20px;
}

.gradient__example {
  flex: 1;
  border-radius: 5px;
}
