<div class="gradient" [ngClass]="{ gradient__liked: gradient.liked }">
  <div class="gradient__info">
    <div class="gradient__name">{{ gradient.name }}</div>
    <div class="gradient__control">
      <button class="button button_icon gradient__like-btn" (click)="like()">
        <span class="button__content">
          <app-icon icon="like"></app-icon>
        </span>
      </button>
      <button class="button button_icon" (click)="showFullPreview()">
        <span class="button__content">
          <app-icon icon="expand"></app-icon>
        </span>
      </button>
      <app-copy [text]="gradient.code"></app-copy>
    </div>
    <div class="gradient__colors">
      @for (color of gradient.colors; track $index) {
        <div class="gradient__color">
          <div class="gradient__color-code">
            {{ color }}
            <app-copy [text]="color" [xsButton]="true"></app-copy>
          </div>
          <div
            class="gradient__color-example"
            [style]="{ backgroundColor: color }"></div>
        </div>
      }
    </div>
  </div>
  <div class="gradient__example" [style]="gradient.code"></div>
  <div class="gradient__like" *ngIf="gradient.liked">
    <app-icon icon="like"></app-icon>
  </div>
</div>
