.gradient {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 40px;;
}

.gradient__info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  visibility: hidden;
}

.gradient__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 10px 10px 5px;
  width: 100%;
  min-height: 50px;
  margin-left: auto;
   font-size: 25px;
  font-family: var(--accent-font-family);
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 25%);
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 40px;
}

.gradient__control {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
}

.gradient__colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 2px;
}

.gradient__color {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.gradient__color-code {
  padding: 5px 15px;
  color: var(--accent-color);
  background-color: var(--primary-color);
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 25%);
  font-family: monospace;
  font-size: 16px;
  border-radius: 40px;
}

.gradient:hover .gradient__info {
  height: auto;
  visibility: unset;
}

.gradient__example {
  flex: 1;
}

.gradient__like {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: var(--warning-color);
  background-color: var(--primary-color);
  border-radius: 50%;
}

.gradient__liked .gradient__like-btn {
  color: var(--warning-color);
  background-image: linear-gradient(45deg, #8137b3, #fb1c1c, #ffb041);
}
