<div class="gradient">
  <div class="gradient__info">
    <div class="gradient__name">{{gradient.name}}</div>
    <div class="gradient__control">
      <button class="button button_icon">
        <span class="button__content">
          <app-icon icon="download"></app-icon>
        </span>
      </button>
      <button class="button button_icon" (click)="showFullPreview()">
        <span class="button__content">
          <app-icon icon="expand"></app-icon>
        </span>
      </button>
      <button class="button button_icon" (click)="copyText()">
        <span class="button__content">
          <app-icon icon="copy"></app-icon>
        </span>
      </button>
    </div>
    <div class="gradient__colors">
      @for (color of gradient.colors; track $index; let first = $first;) {
        <div class="gradient__color">
         @if (!first) {
           <app-icon icon="arrow-right"></app-icon>
          }
          <div class="gradient__color-code">{{ color }}</div>
        </div>
      }
    </div>
  </div>
  <div class="gradient__example" [style]="gradient.code"></div>
</div>
