*,
::before,
::after {
  box-sizing: border-box;
}

.page,
.page__body {
  min-height: 100%;
}

.page__body {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: var(--accent-font-family);
}

.container {
  width: 100%;
  max-width: 1680px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blend {
  filter: invert(1);
  mix-blend-mode: difference;
}

.main-color {
  position: relative;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    #17e586,
    #00a4fd,
    #ae00ff,
    #701cd8,
    #3001ff,
    #fb1c1c,
    #ffb041,
    #17e586
  );
  background-size: 400%;
  animation: rotate-gradient 50s linear infinite;
}

@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
