:root {
  --accent-font-family: AKONY, Arial, sans-serif;
  --main-color: #000;
  --secondary-color: #fff;
  --success-color: #b9eb78;
  --warning-color: #ff00b2;
  --primary-color: #fff;
  --accent-color: #000;
  --main-box-shadow: 0 20px 20px 0 rgb(0 0 0 / 25%);
  --secondary-box-shadow: 0 15px 20px 0 rgb(0 0 0 / 25%);
  --gap: 20px;

  @media (max-width: 768px) {
    --gap: 10px;
  }
}

.light-theme {
  --primary-color: var(--secondary-color);
  --accent-color: var(--main-color);
}

.dark-theme {
  --primary-color: var(--main-color);
  --accent-color: var(--secondary-color);
}
